<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New Post</title>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/createpost.css" />
  </head>

  <body>
    <% include ./partials/newnavbar %>
    <section class="get-in-touch">
      <h1 class="title">Create New Post</h1>
      <form action="/api/posts/create-new" method="POST" class="contact-form row">
        <div class="form-field col-lg-6">
          <input
            id="title"
            class="input-text js-input"
            name="title"
            type="text"
            required
          />
          <label class="label" for="title">Title</label>
        </div>
        <div class="form-field col-lg-6">
          <select id="category" class="input-text js-input" type="text" name="category" required>
            <option selected>Select a Category</option>
            <option value="toy">Toy</option>
            <option value="furniture">Furniture</option>
            <option value="plants">Plants</option>
          </select>
        </div>
        <div class="form-field col-lg-12">
          <input
            id="image"
            class="input-text js-input"
            type="text"
            name="image"
          />
          <label class="label" for="category">Image</label>
        </div>
        <div class="form-field col-lg-12">
          <input
            id="text"
            class="input-text js-input"
            type="text"
            name="text"
            required
          />
          <label class="label" for="text">Message</label>
        </div>
        <div class="form-field col-lg-12">
          <input class="submit-btn" type="submit" value="Submit" />
        </div>
      </form>
    </section>

    <% include ./partials/scripts %>
  </body>
</html>
