<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration</title>

                <% include ./partials/head %> 
                <link rel="stylesheet" href="/stylesheets/createpost.css" />
            
            
            </head>
<body>
    <% include ./partials/newnavbar %> 
    <section class="get-in-touch">
        <h1 class="title">Register</h1>
        <% if(success.length>0) {%>
            <span style="color:green">
            <%=success%> <%}%></span>
        
            <% if (errors.length>0) { %>
                <span style="color:red">
                <%=errors %> 
                <% } %></span>
        <form action="/api/users/register" method="POST" class="contact-form row">
            <div class="form-field col-lg-12">
                <input
                  id="name"
                  class="input-text js-input"
                  name="name"
                  type="name"
                  required
                />
                <label class="label" for="email">Name</label>
              </div>
          <div class="form-field col-lg-12">
            <input
              id="email"
              class="input-text js-input"
              name="email"
              type="email"
              required
            />
            <label class="label" for="email">Email Address</label>
          </div>
          <div class="form-field col-lg-12">
            <input
              id="password"
              class="input-text js-input"
              type="password"
              name="password"
            />
            <label class="label" for="category">Password</label>
          </div>
          
          <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit" />
          </div>
        </form>
      </section>
      <div class="register">
      <a href="/api/users/login">
      <button class="btn btn-lg btn-primary btn-block register" type="submit">
          Already have account
      </button>
      </a>
      </div>
    

<% include ./partials/scripts %> 
</body>


</html>