<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <% include ./partials/head %> 
    </head>
    <style>

    </style>
    <body>
        <% include ./partials/newnavbar %> 

        <img src="/images/http-401-unauthorized-access.jpg" alt="">



        <% include ./partials/scripts %> 
    </body>
</html>